In [4]:
#### DEPENDENCIES ####

import pandas as pd
import csv

In [6]:
#### READ IN CSV DOWNLOADED FROM SPORTS-REFERENCE.COM ####

new_qb = "Resources/new_qb.csv"
new_qb_df = pd.read_csv(new_qb)

In [7]:
#### TAKE A LOOK ####

new_qb_df.head()

,Year,Rnd,Pick,Player,Pos,DrAge,Tm,From,To,AP1,PB,St,wAV,G,GS,College/Univ,Unnamed: 16
0,2000,1,18,Chad Pennington,QB,24.0,NYJ,2000.0,2010.0,0,0,5,55.0,89.0,81.0,Marshall,College Stats
1,2000,3,65,Giovanni Carmazzi,QB,NaN,SFO,NaN,NaN,0,0,0,NaN,NaN,NaN,Hofstra,NaN
2,2000,3,75,Chris Redman,QB,23.0,BAL,2000.0,2011.0,0,0,0,9.0,31.0,12.0,Louisville,College Stats
3,2000,5,163,Tee Martin,QB,22.0,PIT,2001.0,2003.0,0,0,0,0.0,3.0,0.0,Tennessee,College Stats
4,2000,6,168,Marc Bulger,QB,23.0,NOR,2002.0,2009.0,0,2,8,57.0,96.0,95.0,West Virginia,College Stats

In [9]:
#### REMOVE PLAYERS WITH LESS THAN 9 GAME ('G') APPEARANCES IN CAREER ####

new_qb_df.drop(new_qb_df[new_qb_df['G'] < 9].index, inplace = True)
new_qb_df

,Year,Rnd,Pick,Player,Pos,DrAge,Tm,From,To,AP1,PB,St,wAV,G,GS,College/Univ,Unnamed: 16
0,2000,1,18,Chad Pennington,QB,24.0,NYJ,2000.0,2010.0,0,0,5,55.0,89.0,81.0,Marshall,College Stats
1,2000,3,65,Giovanni Carmazzi,QB,NaN,SFO,NaN,NaN,0,0,0,NaN,NaN,NaN,Hofstra,NaN
2,2000,3,75,Chris Redman,QB,23.0,BAL,2000.0,2011.0,0,0,0,9.0,31.0,12.0,Louisville,College Stats
4,2000,6,168,Marc Bulger,QB,23.0,NOR,2002.0,2009.0,0,2,8,57.0,96.0,95.0,West Virginia,College Stats
5,2000,6,183,Spergon Wynn,QB,22.0,CLE,2000.0,2001.0,0,0,0,2.0,10.0,3.0,Texas St.,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2015,1,2,Marcus Mariota,QB,21.0,TEN,2015.0,2021.0,0,0,4,45.0,74.0,61.0,Oregon,College Stats
194,2015,3,89,Sean Mannion,QB,23.0,STL,2015.0,2021.0,0,0,0,2.0,14.0,3.0,Oregon St.,College Stats
195,2015,4,103,Bryce Petty,QB,24.0,NYJ,2016.0,2017.0,0,0,0,4.0,10.0,7.0,Baylor,College Stats
196,2015,5,147,Brett Hundley,QB,22.0,GNB,2016.0,2019.0,0,0,1,5.0,18.0,9.0,UCLA,College Stats
197,2015,7,250,Trevor Siemian,QB,23.0,DEN,2015.0,2021.0,0,0,2,16.0,33.0,29.0,Northwestern,College Stats

In [10]:
#### DROP UNEEDED COLUMNS ###

new_qb_df = new_qb_df.drop(['Year', 'Pos', 'From', 'To', 'AP1', 'PB', 'St', 'wAV', 'G', 'GS', 'Unnamed: 16'], axis = 1)

In [11]:
new_qb_df

     Rnd  Pick             Player  DrAge   Tm   College/Univ
0      1    18    Chad Pennington   24.0  NYJ       Marshall
1      3    65  Giovanni Carmazzi    NaN  SFO        Hofstra
2      3    75       Chris Redman   23.0  BAL     Louisville
4      6   168        Marc Bulger   23.0  NOR  West Virginia
5      6   183       Spergon Wynn   22.0  CLE      Texas St.
..   ...   ...                ...    ...  ...            ...
192    1     2     Marcus Mariota   21.0  TEN         Oregon
194    3    89       Sean Mannion   23.0  STL     Oregon St.
195    4   103        Bryce Petty   24.0  NYJ         Baylor
196    5   147      Brett Hundley   22.0  GNB           UCLA
197    7   250     Trevor Siemian   23.0  DEN   Northwestern

[159 rows x 6 columns]